/* line 10, ../sass/_variables.scss */
.first .page:nth-child(3n+0) {
  background-image: linear-gradient(to bottom, #540665, #003366 100%);
}
/* line 13, ../sass/_variables.scss */
.first .page:nth-child(3n+1) {
  background-image: linear-gradient(to bottom, #003366, #cf06b7 100%);
}
/* line 16, ../sass/_variables.scss */
.first .page:nth-child(3n+2) {
  background-image: linear-gradient(to bottom, #cf06b7, #540665 100%);
}

/* line 10, ../sass/_variables.scss */
.second .page:nth-child(3n+0) {
  background-image: linear-gradient(to bottom, #4d157f, #0f4465 100%);
}
/* line 13, ../sass/_variables.scss */
.second .page:nth-child(3n+1) {
  background-image: linear-gradient(to bottom, #0f4465, #b3348a 100%);
}
/* line 16, ../sass/_variables.scss */
.second .page:nth-child(3n+2) {
  background-image: linear-gradient(to bottom, #b3348a, #4d157f 100%);
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster_1.3.otf");
}
/* line 7, ../sass/styles.scss */
.clear {
  clear: both;
}

/* line 11, ../sass/styles.scss */
body {
  font: 100% Ubuntu, Arial, FreeSans, sans-serif;
  color: #FFFFFF;
  margin: 0px;
}

/* line 17, ../sass/styles.scss */
.wrapper {
  width: 100%;
  color: #FFFFFF;
}
/* line 22, ../sass/styles.scss */
.wrapper #slide1 #change-color {
  float: right;
}
/* line 25, ../sass/styles.scss */
.wrapper #slide1 h1 {
  margin: 10px 0;
  font-family: "Lobster";
  font-size: 150px;
  text-align: left;
  font-weight: normal;
}
/* line 34, ../sass/styles.scss */
.wrapper .page {
  min-height: 1200px;
  padding: 15px;
  text-align: right;
}
/* line 39, ../sass/styles.scss */
.wrapper .page .slide {
  padding: 10px;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  border: 3px solid black;
}
/* line 45, ../sass/styles.scss */
.wrapper .page .slide .title {
  font-weight: normal;
  font-size: 50px;
}
