/* line 23, ../sass/_variables.scss */
.first .page:nth-child(3n+0) {
  background-image: linear-gradient(to bottom, #8600a4, #0056ad 100%);
}
/* line 26, ../sass/_variables.scss */
.first .page:nth-child(3n+1) {
  background-image: linear-gradient(to bottom, #0056ad, #e666d6 100%);
}
/* line 29, ../sass/_variables.scss */
.first .page:nth-child(3n+2) {
  background-image: linear-gradient(to bottom, #e666d6, #8600a4 100%);
}

/* line 23, ../sass/_variables.scss */
.second .page:nth-child(3n+0) {
  background-image: linear-gradient(to bottom, #c1e0e0, #c1e0e0 100%);
}
/* line 26, ../sass/_variables.scss */
.second .page:nth-child(3n+1) {
  background-image: linear-gradient(to bottom, #c1e0e0, white 100%);
}
/* line 29, ../sass/_variables.scss */
.second .page:nth-child(3n+2) {
  background-image: linear-gradient(to bottom, white, #c1e0e0 100%);
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster_1.3.otf");
}
/* line 8, ../sass/styles.scss */
.clear {
  clear: both;
}

/* line 12, ../sass/styles.scss */
body {
  font: 100% Ubuntu, Arial, FreeSans, sans-serif;
  margin: 0px;
}

/* line 17, ../sass/styles.scss */
.wrapper {
  width: 100%;
  color: white;
}
/* line 22, ../sass/styles.scss */
.wrapper #slide1 #change-color {
  float: right;
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* line 29, ../sass/styles.scss */
.wrapper #slide1 #change-color:hover {
  background-color: #8600a4;
  color: white;
}
/* line 34, ../sass/styles.scss */
.wrapper #slide1 h1 {
  margin: 10px 0;
  font-family: "Lobster";
  font-size: 150px;
  text-align: left;
  font-weight: normal;
}
/* line 44, ../sass/styles.scss */
.wrapper .page {
  height: 1200px;
  padding: 10px;
  text-align: right;
}
/* line 49, ../sass/styles.scss */
.wrapper .page .slide {
  padding: 10px;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  /*border: 3px solid black;*/
}
/* line 56, ../sass/styles.scss */
.wrapper .page .slide .title {
  font-weight: normal;
  font-size: 50px;
}
/* line 61, ../sass/styles.scss */
.wrapper .page .slide .description-item {
  display: block;
  font-size: 25px;
  margin-top: 10px;
  font-weight: normal;
}
/* line 67, ../sass/styles.scss */
.wrapper .page .slide .description-item.small {
  font-size: 20px;
  margin-top: 0px;
}
/* line 72, ../sass/styles.scss */
.wrapper .page .slide .description-item.large {
  font-size: 35px;
}
/* line 78, ../sass/styles.scss */
.wrapper .page .slide .content .img_css, .wrapper .page .slide .content .img_sass {
  float: left;
}
/* line 81, ../sass/styles.scss */
.wrapper .page .slide .content .img_css img, .wrapper .page .slide .content .img_sass img {
  width: 395px;
}
/* line 85, ../sass/styles.scss */
.wrapper .page .slide .content .img_sass {
  margin-right: 10px;
}
/* line 89, ../sass/styles.scss */
.wrapper .page .slide .content .img_sass_var {
  margin: 0 auto;
  text-align: right;
}
/* line 92, ../sass/styles.scss */
.wrapper .page .slide .content .img_sass_var img {
  width: 395px;
}
/* line 96, ../sass/styles.scss */
.wrapper .page .slide .content .items_install {
  font-size: 25px;
  text-align: left;
}
/* line 99, ../sass/styles.scss */
.wrapper .page .slide .content .items_install blockquote {
  font-size: 20px;
}
/* line 103, ../sass/styles.scss */
.wrapper .page .slide .content a {
  text-decoration: none;
}
/* line 105, ../sass/styles.scss */
.wrapper .page .slide .content a:hover, .wrapper .page .slide .content a:active, .wrapper .page .slide .content a:visited {
  text-decoration: none;
  color: inherit;
}
/* line 114, ../sass/styles.scss */
.wrapper.second {
  color: #656565;
}
