// Colors

$palette: (
    first: (#540665 #003366 #CF06B7),
    second: (#4D157F #0F4465 #B3348A)
);

@each $class, $colors in $palette{
    .#{$class} {
        .page:nth-child(3n+0){
            background-image: linear-gradient(to bottom,  nth($colors, 1), nth($colors, 2) 100%);
        }
        .page:nth-child(3n+1){
            background-image: linear-gradient(to bottom,  nth($colors, 2), nth($colors, 3) 100%);
        }
        .page:nth-child(3n+2){
            background-image: linear-gradient(to bottom,  nth($colors, 3), nth($colors, 1) 100%);
        }
    }
}
