@import "variables";

@font-face{
    font-family: "Lobster";
    src:url("../fonts/Lobster_1.3.otf");
}

.clear{
    clear:both;
}

body {
    font: 100% Ubuntu, Arial, FreeSans, sans-serif;
    margin: 0px;
}

.wrapper{
    width: 100%;
    color: $text-light;

    #slide1{
        #change-color{
            float:right;
            border: 1px solid;
            padding: $padding-default;
            border-radius: 4px;
            cursor:pointer;
        }
        #change-color:hover{
            background-color:$violet-dark;
            color: $text-light;
        }
        h1{
            margin:10px 0;
            font-family: "Lobster";
            font-size: 150px;
            text-align: left;
            font-weight: normal;
        }

    }

    .page{
        height: 1200px;
        padding: $padding-default;
        text-align: right;

        .slide{
            padding:$padding-default;
            width: 800px;
            height: 600px;
            margin: 0 auto;
            border: 3px solid black;
            
            .title{
                font-weight:normal;
                font-size: 50px;
            }
        }
    }

    &.second{
        color: $text-dark;
    }
}
