@import "variables";
@font-face{
    font-family: "Lobster";
    src:url("../fonts/Lobster_1.3.otf");
}

.clear{
    clear:both;
}

body {
    font: 100% Ubuntu, Arial, FreeSans, sans-serif;
    color: #FFFFFF;
    margin: 0px;
}

.wrapper{
    width: 100%;
    color: #FFFFFF;

    #slide1{
        #change-color{
            float:right;
            border: 1px solid;
            padding: 10px;
            border-radius: 4px;
            cursor:pointer;
        }
        #change-color:hover{
            background-color:#540665;
        }
        h1{
            margin:10px 0;
            font-family: "Lobster";
            font-size: 150px;
            text-align: left;
            font-weight: normal;
        }

    }

    .page{
        min-height: 1200px;
        padding: 15px;
        text-align: right;

        .slide{
            padding:10px;
            width: 800px;
            height: 600px;
            margin: 0 auto;
            border: 3px solid black;
            .title{
                font-weight:normal;
                font-size: 50px;
            }
        }
    }
}
